.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
}
body {
    background-color: beige;

}
.navbar-text {
    color: white;
    font-weight: bold;
    font-family: cursive;
    font-size: 1.5rem;
}
ul {
    list-style-type: none; 
    padding: 0; 
}
.footer {
    font-size: 12px; 
}
.card {
    margin-bottom: 20px; 
}

/* DEVELOPER Suvil Sinha, IS117-006, Spring 2024  */